<!DOCTYPE html>
<html>
<head>
    <title>Ansible Apache Test</title>
</head>
<body>
    <h1>Apache is running and managed by Ansible!</h1>
    <p>This is a test page deployed by Ansible on {{ server_name }}.</p>
</body>
</html>
